<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emgu.CV" version="4.2.0" targetFramework="net461" />
  <package id="Emgu.CV.runtime.windows.cuda" version="4.2.0" targetFramework="net461" />
  <package id="Emgu.CV.runtime.windows.cuda.cufft" version="10.2.89" targetFramework="net461" />
  <package id="Emgu.CV.runtime.windows.cuda.dnn" version="7.6.5" targetFramework="net461" />
  <package id="Emgu.CV.runtime.windows.cuda.npp" version="10.2.89" targetFramework="net461" />
  <package id="KeraLua" version="1.0.29" targetFramework="net45" />
  <package id="NLua" version="1.4.30" targetFramework="net45" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net461" />
</packages>